---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
      {% capture url %}{{ site.url }}{{ post.url }}{% endcapture %}
      {% capture text %}{{ post.title }} ...{% endcapture %}
      <ul class="like-buttons">
          <li class="fb-like">
      	{% include facebook-share.html url=url %}
          </li>
          <li class="fb-tweet">
      	{% include tweet.html url=url text=text %}
          </li>
          <li class="g-plus-one">
      	{% include google-plus.html url=url %}
          </li>
      </ul>

    </article>
  {% endfor %}
</div>
