---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

<ul class="like-buttons">
    <li class="fb-like">
        {% include facebook-share.html %}
    </li>
    <li class="fb-tweet">
        {% include tweet.html %}
    </li>
    <li class="g-plus-one">
        {% include google-plus.html %}
    </li>
</ul>

  {% include disqus.html %}
</article>
